extend base

block script
	script(type="text/javascript", src="//code.jquery.com/jquery-2.1.3.min.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$("#uprn").change(function(e){
				var id = $(e.target).val(),
					query = "#{query}";
				if (id == 0)
					return;
				window.location.href = '/id/' + encodeURIComponent(id) + 
					((query !== 'undefined' && query !== '') ? '?query=' + encodeURIComponent(query) : '');
			});
		});

block content
	if error
		div#explanation
			h2 Nothing found
			p
				| You can try a different address on the <a href="/">homepage</a>.
	else
		if uprns
			form#find_address
				p
					label(for=uprn) Showing collections for 
						strong !{uprns[0].name},
					select#uprn
						option(value=0) switch to
						for uprn in uprns.slice(1)
							option(value=uprn.id)= uprn.name
					p.info (usually similar across a postcode)

		div.collection_container
			if collection_for
				h3= collection_for

			| !{collection}  

		if return_to_query
			nav#return_to_query
				p 
					| <a href="/find/!{return_to_query}">Return to list</a>

		div#explanation
			h2 What's this?
			p 
				| This website gets information from Manchester City Council's
				| <a href="http://www.manchester.gov.uk/bincollections">
				| "Check your bin collection dates" tool</a> and 
				| displays it (on pages like this one).
			p
				| Unlike the MCC site, you can bookmark this page as a reminder.
			p
				| See the "<a href="/about">about</a>" page for details.
